* {
    font-family: Arial, sans-serif;
    font-family: "Noto Sans Lao", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbb1bd;
}

.heart-fall {
    position: fixed;
    top: -10px;
    font-size: 20px;
    color: #ff85a1;
    user-select: none;
    pointer-events: none;
    z-index: 9999;
    animation: fall linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(110vh) rotate(360deg);
    }

}

.btn-openMusic {
    position: absolute;
    top: 10px;
    left: 10px;

    button {
        padding: 5px 10px;
        border-radius: 6px;
        border: none;
        color: #fff;
        background-color: rgb(245, 63, 93);
    }
}

.con {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;

    .wapper {
        width: 350px;
        height: 550px;
        display: grid;
        place-content: center;
        background-color: #ffffff;
        border: 2px solid #D00000;
        border-radius: 16px;

        h1 {
            color: #ff85a1;
            font-size: 25px;
        }

        .wap-img-title {
            text-align: center;
            margin: 10px auto;

            .img {
                width: 300px;
                height: 300px;
                border-radius: 10px;
                border: 2px solid rgb(245, 63, 93);
                overflow: hidden;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            .title {
                display: flex;
                place-content: center;
                width: 100%;
                height: 50px;
                background-color: rgb(245, 63, 93);
                color: #fff;
                border: 2px solid #fff;
                border-radius: 10px;
                margin: 10px auto;
                padding: 10px;
            }
        }

        .wap-btn {
            display: flex;
            place-content: center;
            gap: 100px;
            position: relative;

            button {
                width: 100px;
                height: 30px;
                border-radius: 7px;
                border: none;
                position: absolute;
            }

            .btn-love {
                left: 0;
                color: #fff;
                background-color: rgb(245, 63, 93);
            }

            .btn-not-love,
            .reset {
                right: 0;
                color: rgb(245, 63, 93);
                background-color: #fff;
                border: 2px solid rgb(245, 63, 93);
            }

            .reset {
                display: none;
            }
        }
    }
}

.con-leycalme {
    position: fixed;

    .wap-leycalme {
        width: 400px;
        height: 600px;

        .img-leycalme {
            position: relative;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            .txt-calling {
                text-align: center;
                color: #fff;
            }
        }

        .btn-leycalme {
            position: absolute;
            bottom: 0;

            button {
                padding: 20px;
                border-radius: 100%;
                border: none;
                margin: 10px 20px;
            }

            i {
                font-size: 30px;
            }

            .btn-connect {
                color: #fff;
                background-color: green;
            }

            .btn-not-connect {
                margin-left: 180px;
                color: #fff;
                background-color: red;

                i {
                    transform: rotate(140deg);
                }
            }
        }

    }
}